@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

#__next-build-indicator {
  display: none !important;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nextjs-portal, 
[data-nextjs-dialog-overlay],
#id-do-elemento-turbopack { 
  display: none !important; 
}



.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111827; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #16a34a; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #15803d; 
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #16a34a #111827;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 5px;
  border: 2px solid var(--background);
}